.main-header {
  background: linear-gradient(to right bottom, rgb(18, 23, 97), #1d97bd);
  display: flex;
  min-width: 100vw;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  color: white;
  span {
    display: flex;
    img {
      margin: 0 20px;
      width: 4%;
    }
  }
}

.main-nav-links {
  color: white;
  width: 40%;
  padding: 0;
  ul {
    width: 50%;
    justify-content: space-around;
    display: flex;
    a {
      margin: 0 8px;
      color: white;
      text-decoration: none;
    }
  }
}
