.lfooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  // position: absolute;
  a {
    text-decoration: none;
    list-style: none;
  }
}
.footer-legal-links {
  left: 25%;
  display: flex;
  position: relative;
  width: 50%;
  margin: 0;
  justify-content: space-around;
  li {
    color: white;
  }
}
.lbottom-footer {
  display: flex;
  width: 50%;
  margin: 0;
  left: 25%;
  position: relative;

  color: white;
  justify-content: space-around;
}
.footer-social-icons {
  display: flex;
  li {
    margin: 0 0.9rem;
  }
}
.social-icon {
  a {
    color: white;
  }
}
