#root {
  min-height: 100vh;
  background: linear-gradient(to right bottom, rgb(18, 23, 97), #1d97bd);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

.login-title {
  color: white;
}
.login-logo {
  img {
    max-width: 40%;
    max-height: 40%;
  }
}

// .buttonContainer {
//   display: flex;

// }

.loginButtons {
  div button {
    width: 11rem;
    border: 2px solid transparent;
    background: white;
    border-radius: 10px;
    padding: 5px 2%;
    text-decoration: none;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6)
    );
    // background-color: rgba(64, 87, 109, 0.07);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // letter-spacing: normal;
    // text-transform: none;
    // vertical-align: middle;
  }
  margin-bottom: 45px;
}
.firstloginButton {
  margin-bottom: 7px;
}

.lastloginButton {
  margin-top: 7px;
}

.form-body {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5%;
  background: white;
  min-height: 35vh;
  width: 40%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.login-logo {
  margin: 5% 0 5% 0;
}

.social-btn-icon {
  max-width: 25px;
  max-height: 25px;
}
@import "header";
@import "footer";

@media only screen and (max-width: 900px) {
  .form-body {
    min-width: 70vw;
  }

  .login-logo {
    margin: 12% 0;
  }

  .loginButtons {
    margin-top: 45px;
  }
}
