#root {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#121761), to(#1d97bd));
  background: linear-gradient(to right bottom, #121761, #1d97bd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

.login-title {
  color: white;
}

.login-logo img {
  max-width: 40%;
  max-height: 40%;
}

.loginButtons {
  margin-bottom: 45px;
}

.loginButtons div button {
  width: 11rem;
  border: 2px solid transparent;
  background: white;
  border-radius: 10px;
  padding: 5px 2%;
  text-decoration: none;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6));
}

.firstloginButton {
  margin-bottom: 7px;
}

.lastloginButton {
  margin-top: 7px;
}

.form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
  background: white;
  min-height: 35vh;
  width: 40%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

.login-logo {
  margin: 5% 0 5% 0;
}

.social-btn-icon {
  max-width: 25px;
  max-height: 25px;
}

.lheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav-links {
  color: white;
  width: 20%;
  padding: 0;
}

.nav-links ul {
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.lfooter a {
  text-decoration: none;
  list-style: none;
}

.footer-legal-links {
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
  margin: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-legal-links li {
  color: white;
}

.lbottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0;
  left: 25%;
  position: relative;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-icons li {
  margin: 0 0.9rem;
}

.social-icon a {
  color: white;
}

@media only screen and (max-width: 900px) {
  .form-body {
    min-width: 70vw;
  }
  .login-logo {
    margin: 12% 0;
  }
  .loginButtons {
    margin-top: 45px;
  }
}
/*# sourceMappingURL=Login.css.map */